<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <img src="/img/me.jpg">

     <p>This site was created by Ali Imran.</p>
    <p>Created by {{name}}</p>
</body>

</html>